@font-face {
    font-family: "BPG Arial";
    src: url(../../font/bpg_arial_2009.ttf) format("opentype");
}

* {
    font-family: "BPG Arial";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}

body {
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #FFFFFF;
    font-size: 64px;
    letter-spacing: 15.36px;
}